.page3-container {
    width: 100vw;
    max-width: 800px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 75px;
    background-color: #000;
    color: #e0e0e0;
}

.page3-title-section {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
}

.page3-title {
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    line-height: 32px;
    margin-bottom: 12px;
}

.page3-description {
    font-size: 18px;
    line-height: 1.5;
}

.page3-invite-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.page3-invite-item {
    align-items: center;
    background: #272a2f;
    border-radius: 20px;
    display: flex;
    margin-bottom: 6px;
    padding: 12px;
    box-sizing: border-box;
    color: #fff;
}

.page3-invite-icon {
    flex-shrink: 0;
    margin-right: 12px;
}

.page3-icon {
    font-size: 32px;
    color: rgb(255, 201, 32);
}

.page3-invite-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
}

.page3-invite-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
}

.page3-invite-details {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.page3-price-value.text-yellow {
    color: rgb(255, 201, 32);
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
}

.page3-invite-footer {
    font-size: 14px;
    font-weight: normal;
}

.page3-more-bonuses {
    color: #5a60ff;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.page3-bonuses {
    width: 100%;
    margin-top: 20px;
}

.page3-bonuses-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.page3-header-item {
    font-size: 16px;
    color: #d1d1d1; /* Gri renk */
    font-weight: thin; /* İnce yazı */
    width: 33%; /* Her başlığa eşit genişlik */
    text-align: center; /* Başlıkları ortala */
}

.page3-bonuses-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.page3-bonuses-item {
    align-items: center;
    background: #272a2f;
    border-radius: 20px;
    display: flex;
    margin-bottom: 6px;
    padding: 12px;
}

.page3-bonuses-content {
    display: flex;
    align-items: center;
    width: 50%; /* İkon ve isim sütunu genişliği */
}

.page3-bonuses-icon {
    margin-right: 12px; /* İkon ile metin arasındaki boşluk */
}

.page3-bonuses-name {
    font-size: 16px; /* İsim için uygun font boyutu */
    font-weight: normal;
    color: #e0e0e0;
}

.page3-bonuses-values {
    display: flex;
    align-items: center;
    width: 50%; /* Detaylar sütunu genişliği */
}

.page3-price-value.text-yellow {
    color: rgb(255, 201, 32);
    font-size: 16px; /* Daha büyük yazı boyutu */
    font-weight: bold;
    margin-right: 15px; /* Aralarındaki boşluk */
}

.page3-title-section p {
    font-weight: bold; /* Kalın yazı */
    color: #fff; /* Beyaz yazı rengi */
    text-align: left; /* Sola dayalı */
    margin: 0; /* Margini sıfırla */
}
