.page3-container {
    width: 100vw;
    max-width: 800px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 75px;
    background-color: #000;
    color: #e0e0e0;
}

.page3-title-section {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
}

.page3-title {
    font-size: 24px; /* Daha küçük yazı boyutu */
    font-style: normal;
    font-weight: bold; /* Kalın yazı */
    line-height: 32px; /* Satır yüksekliği */
    margin-bottom: 12px;
}

.page3-description {
    font-size: 18px;
    line-height: 1.5;
}

.page3-invite-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.page3-invite-item {
    align-items: center;
    background: #272a2f;
    border-radius: 20px;
    display: flex;
    margin-bottom: 6px;
    padding: 12px;
    box-sizing: border-box;
    color: #fff;
}

.page3-invite-icon {
    flex-shrink: 0;
    margin-right: 12px; /* İkon ile metin arasındaki boşluk */
}

.page3-icon {
    font-size: 32px; /* İkon boyutu */
    color: rgb(255, 201, 32); /* Sarı renk */
}

.page3-invite-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
}

.page3-invite-header {
    font-size: 18px; /* Daha küçük yazı boyutu */
    font-weight: bold; /* Kalın yazı */
    margin-bottom: 16px; /* Başlık ve fiyat arasındaki boşluk */
}

.page3-invite-details {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.page3-price-value.text-yellow {
    color: rgb(255, 201, 32); /* Sarı renk */
    font-size: 14px; /* Daha küçük yazı boyutu */
    font-weight: bold; /* Kalın yazı */
    margin-right: 10px; /* Yazılar arasındaki boşluk */
}

.page3-invite-footer {
    font-size: 14px; /* Daha küçük yazı boyutu */
    font-weight: normal; /* İnce puntolu yazı */
}
