.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(40, 43, 48); /* Arka plan rengi */
    display: flex;
    justify-content: space-around; /* Başlıkları yatay olarak ortala */
    align-items: center; /* Başlıkları dikey olarak ortala */
    padding: 5px; /* İç boşluk */
    border-top: 0px solid #000;
    border-bottom: 1px solid #000;
    border-radius: 0 0 18px 18px;
    height: 80px; /* Yüksekliği artırdık */
}

.nav-link {
    color: rgb(158, 161, 166); /* Tıklanmadan önceki yazı rengi */
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60px; /* Genişliği artırdık */
    height: 60px; /* Yüksekliği artırdık */
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 12px; /* Yazı boyutunu artırdık */
    font-weight: 500;
    border: 2px solid transparent;
    padding: 5px; /* İçerik etrafında boşluk */
}

.nav-link i, .nav-link .nav-icon {
    font-size: 24px; /* İkon boyutu */
    margin-bottom: 5px; /* İkon ile metin arasındaki boşluk */
}

.nav-link i.icon-lock {
    color: rgb(158, 161, 166); /* Kilit simgesinin varsayılan rengi gri */
}

.nav-link i.icon-lock-open {
    color: rgb(32, 107, 234); /* Açık simgesinin rengi mavi */
}

.nav-link.active {
    background-color: rgb(28, 31, 36); /* Tıklandığında arka plan rengi */
    color: #fff; /* Tıklandığında yazı rengi beyaz */
    border-color: rgb(28, 31, 36); /* Tıklandığında çerçeve rengi */
}

.nav-link.active i, .nav-link.active .nav-icon {
    color: #fff; /* Aktif durumda ikon rengini beyaz yapar */
}

.nav-link:not(.active) i.icon-lock-open {
    color: rgb(158, 161, 166); /* Ana sayfa aktif değilse gri */
}

.nav-icon {
    font-size: 24px; /* İkon boyutu */
    margin-bottom: 5px; /* İkon ile metin arasındaki boşluk */
}
